{% block sidebar %}

<style>
        .card{
            box-shadow: 0 16px 48px #E3E7EB;
        }
    
</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
<div class="card my-4">
        <h5 class="card-header ">A propros</h5>
    <div class="card-body">
        <p class="card-text"><center class="font-weight-bold">Mani Bi Dje Franck Joel</center>
            <center class="font-weight-lighter">Développeur Web et Mobile</center><br>
            Arrivé dans le monde de la programmation par curiosité,
            aujourd'huit je suis devenu accro au codage.
            Determiné a apprendre encore et encore,
            j'ai donc la chance de faire parti de l'equipe d'apprenant actuelle de Simplon Cote d'ivoire.
            Je suis disponible pour des projets indépendants
            ou simplement pour discuter de conception et de programmation.
            N'hésitez pas à me contacter Merci<br>
             Bi.mani@uvci.edu.ci</p>
    </div>
</div>
</div>

{% endblock sidebar %}